<!DOCTYPE html>
<html lang="en" class="fullscreen">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>iFootball</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"  rel="stylesheet">
    {{{_sections.head}}}
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/account">Страница профиля</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Выйти</a></li>
</ul>

<ul id='dropdown2' class='dropdown-content'>
    <li><a href="/users">Пользователи</a></li>
</ul>

<nav class="light-green darken-2 header-position" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">
            <img src="/img/logo.png" class="logo-image">
            iFootball
        </a>

        <ul class="right hide-on-med-and-down">
            {{#if user}}
                <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown1">Профиль<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown2">Ресурсы<i class="material-icons right">arrow_drop_down</i></a></li>
            {{else}}
                <li>Войти через:&nbsp;&nbsp;</li>
                <li><a class="" href="/auth/vkontakte/callback"><i class="fa fa-vk fa-lg vertical-align-middle" aria-hidden="true"></i></a></li>
                <li><a class="" href="#"><i class="fa fa-google-plus fa-lg vertical-align-middle" aria-hidden="true"></i></a></li>
            {{/if}}
        </ul>

        <ul id="slide-out" class="side-nav">
            <li>
                <div class="userView">
                <img class="background" src="http://unsplash.it/400/200?image=527">
                <a href="/account">
                    <img class="circle" src="{{default user.image '/img/camera.png'}}">
                </a>
                <a href="/account">
                    <span class="white-text name">
                        {{default user.name  "Аноним"}}
                    </span>
                </a>
                <br>
                </div>
            </li>

            {{#if user}}
                <li><a class="waves-effect" href="/account"><i class="fa fa-futbol-o fa-lg" aria-hidden="true"></i>Профиль</a></li>
            {{else}}
                <li><a class="subheader">Войти через:</a></li>
                <li><a class="waves-effect" href="/auth/vkontakte/callback"><i class="fa fa-vk fa-lg" aria-hidden="true"></i>Вконтакте</a></li>
                <li><a class="waves-effect" href="#"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>Google</a></li>
            {{/if}}
            <li><div class="divider"></div></li>
            <li><a class="subheader">Дополнительно</a></li>
            {{#if user}}
                <li><a class="waves-effect" href="/users"><i class="fa fa-users fa-lg" aria-hidden="true"></i>Пользователи</a></li>
                <li><a class="waves-effect" href="/logout"><i class="fa fa-bed fa-lg" aria-hidden="true"></i>Выйти</a></li>
            {{else}}
                <li><a class="waves-effect" href="#!"><i class="fa fa-coffee fa-lg" aria-hidden="true"></i>Для соблюдения material</a></li>
            {{/if}}
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>

{{{body}}}

<footer class="page-footer brown lighten-1">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="white-text">Футбол</h5>
                <p class="grey-text text-lighten-4">
                    Спортивная игра двух команд (по одиннадцати игроков в каждой), состоящая в том, что игроки стараются ударами ноги загнать мяч в ворота противника.
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <i class="fa fa-heart-o" aria-hidden="true"></i> in Moscow
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/lib/materialize.js"></script>
<script src="/js/lib/init.js"></script>
{{{_sections.jquery}}}
<script src="//localhost:35729/livereload.js"></script>
</body>
</html>