<div class="container content-margin-top">
    <div class="center">
        <h3>Страница пользователя</h3>
        <h4>Ваше имя: {{username}}!</h4>
    </div>

    <ul class="collection with-header">
        <li class="collection-header center"><h5>Федерации, в которых вы состоите</h5></li>

        {{#each federations}}
            <li class="collection-item"><div>{{name}}<a href="/federation/{{name}}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        {{else}}
            Вы не состоите в федерациях :(
        {{/each}}

        <li class="collection-item right">
            <a class="btn-floating btn-large waves-effect waves-light red" href="/federation/create"><i class="material-icons">add</i></a>
        </li>
    </ul>

    <ul class="collection with-header">
        <li class="collection-header center"><h5>Команды, в которых вы состоите</h5></li>

        {{#each teams}}
            <li class="collection-item"><div>{{name}}<a href="/team/{{_id}}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        {{else}}
            Вы не состоите в командах :(
        {{/each}}


        <!--<div class="formContainer">-->
            <!--<form class="list-team" action="/account" method="POST" >-->
                <!--<input type="hidden" name="what" value="team">-->
                <!--<button class="waves-effect waves-light btn" type="submit" >показать</button>-->
            <!--</form>-->
        <!--</div>-->


        <li class="collection-item right">
            <a class="btn-floating btn-large waves-effect waves-light red" href="/team/create"><i class="material-icons">add</i></a>
        </li>
    </ul>
</div>
<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$('.list-team').on('submit', function(evt){-->
            <!--evt.preventDefault();-->
            <!--var action = $(this).attr('action');-->
            <!--var $container = $(this).closest('.formContainer');-->
            <!--$container.html('<div class="progress"><div class="indeterminate"></div></div>');-->

            <!--$.ajax({-->
                <!--url: action,-->
                <!--type: 'POST',-->
                <!--data: $(this).serialize(),-->
                <!--success: function(data){-->
                    <!--if(data.success){-->
                        <!--$container.html('<h1>' + data.teams[0].name + '</h1>');-->
                    <!--} else {-->
                        <!--$container.html('Вы не состоите в командах');-->
                    <!--}-->
                <!--},-->
                <!--error: function(){-->
                    <!--$container.html('There was a problem.');-->
                <!--}-->
            <!--});-->
        <!--});-->
    <!--});-->
<!--</script>-->
