<div class="container content-margin-top content-flex">
    <div class="center">
        <h3>Страница пользователя</h3>
        {{#if pageUser}}
            <h4>Имя пользователя: {{pageUser.name}}</h4>
        {{else}}
            <h4>Ваше имя: {{user.name}}</h4>
        {{/if}}
        <div class = "greeting-registration"></div>
    </div>

    <div class="row">
        <div class="federation-list_header">
            Список федераций:
        </div>
        <div class="collection">
            {{#each federations}}
                <a href="/federation/{{name}}" class="collection-item">{{name}}</a>
            {{else}}
                {{#unless pageUser}}
                    Вы не состоите в федерациях :(
                {{else}}
                    Пользователь не состоит в федерациях
                {{/unless}}
            {{/each}}
        </div>
    </div>

    {{#unless pageUser}}
        <div class="row right-align">
            <a class="waves-effect waves-light btn" href="/federation/create">Создать федерацию</a>
        </div>
    {{/unless}}

    <div class="row">
        <div class="team-list_header">
            Список команд:
        </div>
        <div class="collection">
            {{#each teams}}
                <a href="/team/{{_id}}" class="collection-item">{{name}}</a>
            {{else}}
                {{#unless pageUser}}
                    Вы не состоите в командах :(
                {{else}}
                    Пользователь не состоит в командах
                {{/unless}}
            {{/each}}
        </div>
    </div>

    {{#unless pageUser}}
        <div class="row right-align">
            <a class="waves-effect waves-light btn" href="/team/create">Создать команду</a>
        </div>
    {{/unless}}

    {{#if pageUser}}
        {{#if user}}
            <!-- Modal Trigger -->
            <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Добавить как организатора федерации</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Список федераций</h4>
                    <p class="js-modal-body"></p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Добавить</a>
                </div>
            </div>
        {{/if}}
    {{/if}}
</div>

{{#section 'jquery'}}
    {{#if pageUser}}
        {{#if user}}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
            <script class="modal-template" type="text/x-handlebars-template">
                <form class="js-add-creator-form">
                    <input type="hidden" name="idUser" value="{{pageUser._id}}">
                    <div class="input-field col s12">
                        <select name="idFederation">
                            \{{#each this}}
                                <option value="\{{_id}}">\{{name}}</option>
                            \{{/each}}
                        </select>
                    </div>
                </form>
            </script>
            <script src="/js/account.js"></script>
        {{/if}}
    {{/if}}

    <script>
        if ({{default newUser "false"}}) {
            $('.greeting-registration').html('<h5>Поздравляем с регистрацией</h5>');
        }
    </script>
{{/section}}

