<div class="container content-margin-top">
    <div class="center">
        <h3>Страница пользователя</h3>
        {{#if pageUser}}
            <h4>Имя пользователя: {{pageUser.name}}</h4>
        {{else}}
            <h4>Ваше имя: {{user.name}}</h4>
        {{/if}}
        <div class = "greeting-registration"></div>
    </div>

    <ul class="collection with-header">
        <li class="collection-header center"><h5>Федерации</h5></li>

        {{#each federations}}
            <li class="collection-item"><div>{{name}}<a href="/federation/{{name}}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        {{else}}
            {{#unless pageUser}}
                Вы не состоите в федерациях :(
            {{else}}
                Пользователь не состоит в федерациях
            {{/unless}}
        {{/each}}

        {{#unless pageUser}}
            <li class="collection-item right">
                <a class="btn-floating btn-large waves-effect waves-light red" href="/federation/create"><i class="material-icons">add</i></a>
            </li>
        {{/unless}}
    </ul>

    <ul class="collection with-header">
        <li class="collection-header center"><h5>Команды</h5></li>

        {{#each teams}}
            <li class="collection-item"><div>{{name}}<a href="/team/{{_id}}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        {{else}}
            {{#unless pageUser}}
                Вы не состоите в командах :(
            {{else}}
                Пользователь не состоит в командах
            {{/unless}}
        {{/each}}

        <!--<div class="formContainer">-->
            <!--<form class="list-team" action="/account" method="POST" >-->
                <!--<input type="hidden" name="what" value="team">-->
                <!--<button class="waves-effect waves-light btn" type="submit" >показать</button>-->
            <!--</form>-->
        <!--</div>-->

        {{#unless pageUser}}
            <li class="collection-item right">
                <a class="btn-floating btn-large waves-effect waves-light red" href="/team/create"><i class="material-icons">add</i></a>
            </li>
        {{/unless}}
    </ul>

    {{#if pageUser}}
        {{#if user}}
            <!-- Modal Trigger -->
            <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Добавить как организатора федерации</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Список федераций</h4>
                    <p class="js-modal-body"></p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Добавить</a>
                </div>
            </div>
        {{/if}}
    {{/if}}
</div>

{{#if pageUser}}
    {{#if user}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
        <script class="modal-template" type="text/x-handlebars-template">
            <form class="js-add-creator-form">
                <input type="hidden" name="idUser" value="{{pageUser._id}}">
                <div class="input-field col s12">
                    <select name="idFederation">
                        \{{#each this}}
                            <option value="\{{_id}}">\{{name}}</option>
                        \{{/each}}
                    </select>
                </div>
            </form>
        </script>
        <script src="/js/account.js"></script>
    {{/if}}
{{/if}}

<script>
    if ({{default newUser "false"}}) {
        $('.greeting-registration').html('<h5>Поздравляем с регистрацией</h5>');
    }
</script>

<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$('.list-team').on('submit', function(evt){-->
            <!--evt.preventDefault();-->
            <!--var action = $(this).attr('action');-->
            <!--var $container = $(this).closest('.formContainer');-->
            <!--$container.html('<div class="progress"><div class="indeterminate"></div></div>');-->

            <!--$.ajax({-->
                <!--url: action,-->
                <!--type: 'POST',-->
                <!--data: $(this).serialize(),-->
                <!--success: function(data){-->
                    <!--if(data.success){-->
                        <!--$container.html('<h1>' + data.teams[0].name + '</h1>');-->
                    <!--} else {-->
                        <!--$container.html('Вы не состоите в командах');-->
                    <!--}-->
                <!--},-->
                <!--error: function(){-->
                    <!--$container.html('There was a problem.');-->
                <!--}-->
            <!--});-->
        <!--});-->
    <!--});-->
<!--</script>-->
