<div class="container content-margin-top">
    <div class="row">
        <form method="post">
            <div class="input-field">
                <input id="last_name" type="text" class="validate" name="name" required pattern="[a-zA-Z][a-zA-Z0-9\s]*">
                <label for="last_name">Название турнира</label>
            </div>

            <div class="config-select">
                <label for="last_name">Тип турнира</label>
                {{#each config}}
                    <p>
                        <input class='js-type-tournament' name="group1" type="radio" id="{{type}}"/>
                        <label for={{type}}>{{name}}</label>
                    </p>
                {{/each}}
            </div>

            <div class="config-tournament">
                Выберете тип турнира
            </div>

            <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".js-type-tournament").change(function () {
            {{#each config}}
                if ($("#{{type}}").is(':checked')) {
                    $('.config-tournament').html('конфиг турнира {{name}}');
                }
            {{/each}}
        });
    });
</script>