<div class="row">
    <form class="col s12" method="post">
        <div class="c">
            <div class="input-field col s12">
                <input id="last_name" type="text" class="validate" name="name">
                <label for="last_name">Название турнира</label>
            </div>
        </div>

        <div class="row config-select">
            <label for="last_name">Тип турнира</label>
            {{#each config}}
                <p>
                    <input class='rg' name="group1" type="radio" id="{{type}}" />
                    <label for={{type}}>{{name}}</label>
                </p>
            {{/each}}
        </div>


        <div class="row config-tournament ">
            Выберете тип турнира
        </div>


        <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<script>
    $(document).ready(function(){
        $(".rg").change(function () {
            {{#each config}}
                if ($("#{{type}}").is(':checked')) {
                    $('.config-tournament').html('<h1>конфиг турнира {{name}}</h1>');
                }
            {{/each}}
        });
    });
</script>