<div class="container content-margin-top content-flex">
    <div class="row center">
        Страница федерации {{federation.name}}
    </div>
    <div class="row">
        <div class="tournament-list_header">
            Список турниров:
        </div>
        <div class="collection">
            {{#each tournaments}}
                <a href="/tournament/{{_id}}" class="collection-item">{{name}} : {{status}}</a>
            {{/each}}
        </div>
    </div>
    {{#isAccess user federation.creators}}
    <div class="row right-align">
        <a class="waves-effect waves-light btn" href="/tournament/create/?federation={{federation.name}}">Создать турнир</a>
    </div>
    {{/isAccess}}

</div>
