<div class="container content-margin-top content-flex">

    <div class="row center">
        <h3>Страница стадии {{stage.name}}</h3>
    </div>

    <div class="container content-margin-top content-flex">
        <ul class="collection with-header">
            <li class="collection-header center"><h5>Парметры этапа</h5></li>

            <li class="collection-item">Тип: {{stage.type.name}}</li>
        </ul>
    </div>

    <div class="row right-align">
        <a class="waves-effect waves-light btn" href="{{stage._id}}\start">Начать со всеми заявившимися командами</a>
    </div>


    <div class="row">
        <div class="list_header">
            Список матчей:
        </div>
        <div class="collection">
            {{#each matches}}
                <a href="/match/{{_id}}" class="collection-item">матч № {{@index}}</a>
            {{else}}
                в этапе нет матчей
            {{/each}}
        </div>
    </div>
</div>



