<div class="container content-margin-top content-flex">
    <div class="row center">
        Страница турнира {{tournament.name}}
    </div>
    <div class="row center">
        Тип турнира: {{tournament.type}}
    </div>
    <div class="row">
        <div class="tournament-list_header">
            Список матчей:
        </div>
        <div class="collection">
            {{#each matches}}
                <a href="/match/{{_id}}" class="collection-item">{{team1}} vs {{team1}}</a>
            {{else}}
                в турнире нет матчей
            {{/each}}
        </div>
    </div>
</div>
