<div class="container content-margin-top content-flex">
    <div class="row center">
        Страница турнира {{tournament.name}}
    </div>
    <div class="row center">
        Тип турнира: {{tournament.type}}
    </div>
    <div class="row">
        <div class="tournament-list_header">
            Список команд:
        </div>
        <div class="collection">
            {{#each teams}}
                <a href="/team/{{_id}}" class="collection-item">{{name}}</a>
            {{/each}}
        </div>
    </div>
    <div id="model-place">
    </div>
    <!--todo только организатор федерации может-->
    <div class="row right-align">
        <a class="waves-effect waves-light btn" href="/tournament/{{tournament._id}}?setstatus=undertake">Начать турнир</a>
    </div>
</div>

{{#section 'head'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js"></script>

    <script src="https://js.cx/babel-core/browser.min.js"></script>

{{/section}}
{{#section 'jquery'}}
    {{#if user}}

        <!--<script type="text/babel" src="/js/modalFormClass.js"></script>-->
        <!--<script type="text/babel" src="/js/modalWindowClass.js"></script>-->
        <script type="text/babel" src="/js/tournament.js"></script>
    {{/if}}
{{/section}}
